@model ResuniqAI.Models.Resume

<div class="container mt-5">

    <div class="card-box text-center">

        <h2>📊 ATS Score Result</h2>

        <h1 style="font-size:60px;color:#10b981;">
            @ViewBag.Score / 100
        </h1>

        <p>@Model.FullName</p>

    </div>

</div>